* {
  margin: 0;
}
body{
	position: relative;
}
.bucket-container{	
	position: absolute;
	bottom: 0;
	height: 200px;
}

.square{
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50px;
  background-color: red;
}

.bucket{
  position: relative;
  width: 150px;
  height: 150px;
}

.bucket-img{
  position: absolute;
  width: 150px;
  z-index: 0;
}

.title{
  position: absolute;
  font-size: 20pt;
  font-family: Arial;
  width: 100%;
  top: 75px;
  text-align: center;
  z-index: 1;
}

.title:hover{
  color: #94A647;
  cursor: pointer;
}

.bucket-img:hover{

}

.bucket-img:active{
  cursor: none;
}